:root {
    --accent-color: #0c7cec;
    --bg-color: #1c1c1c;
    --text-color: #ffffff;
    --gray: #716c69;
}

.active {
    color: var(--accent-color) !important;
    position: relative;
    opacity: 1;
}

.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: var(--accent-color);
    animation: extend 0.25s forwards;
}

@keyframes extend {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
