/* colors vars */
:root {
    --bg-color: #f8f9fa;
}

/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
}
.navlink-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* footer */
footer {
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
}
